Source: l1ght
Maintainer: Alex Fence <alexfence.code@gmail.com>
Section: utils
Priority: extra

Package: l1ght
Architecture: any
Description: A small cli for changing the backlight on a laptop
 It does not rely on X.

